.new-game {
  text-decoration: none;
  font-weight: 500;
  position: relative;
  font-size: 0.8rem;
  color: #333;
  background-color: #ddd;
  display: block;
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.new-game:hover,
  .new-game:active {
    background-color: #ffe6dc;
}

@media (min-width: 26.25rem) {
  .new-game {
    font-size: 1rem;
  }
}
  