
body{
  overflow: hidden;
  color: white;
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 20px;
  color: #ffffff;
  background-color: #0e79dd;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.app { 
  text-align: center;
}

.score-board {
  font-size: larger;
  font-weight: bold;
  position: relative;
  max-width: 100vw;
}

.popup-modal {
  color: black;
  padding: 32px 64px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: center;
  pointer-events: none;
  opacity: 0%;
  text-align: center;
  transition: transform .3s ease-in-out, opacity .4s ease;
  transform: translate(-50%, -100%);
}

.popup-modal.show {
  transform: translate(-50%, -50%);
  opacity: 100%;
  pointer-events: all;
}

.backdrop {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 0%;
}

.backdrop.show {
  opacity: 30%;
}

@media (max-width: 600px){
  body {
    font-size: 8px;
  }
}

.card-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, minmax(1em, 1fr));
}

.card {
  cursor: pointer;
  max-width: 100vw;
  margin: 10px;
}

img {
  border-radius: 12px;
  max-width: 100%;
  max-height: 150px;
}
img:hover{
  color:greenyellow;
  box-shadow: 0 0 100px;
}


