
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
}

.app { 
  text-align: center;
  background-color: bisque;
}

.score-board {
  background-color: aqua;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
}

.card-container {
  border-style: solid;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  grid-template-columns: repeat(6, minmax(min(100px, 100%), 1fr));
}

.card {
  cursor: pointer;
  width:150px;
  height: 185px;
  padding: 10px;
  margin: 10px;
}
.card:hover{
  width: 150px;
}

img {
  border-radius: 12px;
  max-width: 100%;
  max-height: 150px;
}


