.you-won {
    color: red;
}

.new-game {
    color: black;
    font-size: 0.8rem;
}

.game-buttons-container {
    display: flex;
    justify-content: space-between;
    padding: 0 0 1rem;
}

@media (min-width: 26.25rem) {
    .you-won {
        font-size: 2rem;
    }

    .new-game {
        font-size: 1.1rem;
    }
}